<style>
  .whas-a01 {
    width: calc(33.333333% - 20px);
  }
  .whas-a01::before {
    padding-top: 136.986301%;
  }
</style>

<div class="py-100">
  <div class="wrap">
    <div class="max-w-1520 mx-auto">
      <div class=" text-32 leading-12 font-700 ">Why Artrix Store</div>
      <div class="mt-20 flex gap-20 justify-between">
        <div class="whas-a01 img-box">
          <img src="">
          <div class="absolute top-20 left-20 text-24 leading-12">
            <div>Spend $1</div>
            <div>Earn 1 Artrix Credit Reward</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
